



/* 
table {
    border-collapse: inherit;
    border-spacing: 0 .5em !important;

   
  } */

/* tbody tr td{
    background-color: #fefefe !important;
    
} */


.div-cria-vaga{
    background-color: #488ef7; display: flex; align-items: center; padding: 10px; border-radius: 8px;
}
.div-cria-vaga a {

    background-color: #488ef7 ; color: white; font-weight: 500; display: flex; align-items: center;
}

.div-table{
    border: 1px solid #ebedf1;padding: 20px;margin: 20px; border-radius: 8px;
}
thead{
    background-color: #fafafc;
}
thead tr{
    color:#747d90 !important;
}

tbody tr{
    border-bottom: 1px solid #ebedf1;
}

tbody tr td{
padding: 15px !important;
color: #071338;

}

tbody tr td:nth-child(1){
    cursor: pointer;
}

.table-nome-vaga{
    font-weight: bold;
    color: #071338;
}
.table-edit-vaga span{
    padding: 5px;
    background-color: #f1f7fe;
    color: #2861e8;
    border-radius: 8px;
}
 .div-valor-box{
    display: flex;
    background-color: #fafbfc;
    color: #071338;
    align-items: center;
    justify-content: center;
    
    width: 50%;

    border-radius: 10px;
}

.span-valor-vagas-novas{
    background-color: #d3f3ef; color: #30c7b3; border-radius: 10px;padding: 4px;font-weight: 500;
}

.div-paginate{
    display: flex;
    justify-content: center;
}

.div-paginate a{
    color: black !important;
}

