<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/login.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>Login</title>
  </head>
  <body>
    <div class="div-login">
      <form class="form-login">
        <div>
          <div><img src="/static/img/logo.png" alt="Logo empresa" /></div>
        </div>

        <div class="input-login">
          <div>
            <div>
              <input type="text" placeholder="Login" />
            </div>
          </div>
          <div>
            <input type="password" placeholder="Senha" />
          </div>
        </div>
        <div class="div-lembrar-senha">
          <div class="div-lembrar-senha-filha">
            <div>
              <input type="checkbox" name="" id="" />
              <label for="">Lembrar</label>
            </div>

            <div>
              <span>Esqueceu sua senha?</span>
            </div>
          </div>
        </div>
        <div class="div-botao">
          <a href="/templates/dashboard.html" class="botao-entrar">Entrar</a>
        </div>
      </form>
    </div>
  </body>
</html>
